/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "tether";
@import "bootstrap";
@import 'jquery-ui';

body {
  padding-top: 70px;
}

.widget-container{
  position: absolute;
  box-sizing: border-box;
  .body {
    padding: 30px 30px;
   }

  .manage {
    padding: 5px 5px;
  }
  .bottom {
    padding: 5px 5px;
  }

  border: 1px solid;
  border-radius: 10px;
}

.icon-16x16 {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
